@import '~antd/dist/antd.css';

.principal-layout {
  min-height: 100vh;
  background-image: url("./images/background-space.jpg");
  background-position: "center";
  background-repeat: "no-repeat";
  background-size: "cover";
}

.content-background {
  background-color: rgba(255, 100, 255, 0.15);
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-left::before,
.ant-divider-horizontal.ant-divider-with-text-right::before,
.ant-divider-horizontal.ant-divider-with-text-center::after,
.ant-divider-horizontal.ant-divider-with-text-left::after,
.ant-divider-horizontal.ant-divider-with-text-right::after {
  border-top: 1px solid #000;
}

.anticon-copy {
  color: rgb(58, 36, 94)
}

h1, .active {
  animation: text-shadow 2s ease-in-out 1s infinite;
  font-size: 5em;
  font-weight: 900;
  line-height: 1;
}

@keyframes text-shadow {
  0% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #870cfb, 
          0 0 0 #1f8888, 
          0 0 0 #fb203b, 
          0 0 0 #f7f59d;
  }

  20% {  
      transform: translateY(-0.4em);
      text-shadow: 
          0 0.125em 0 #870cfb, 
          0 0.25em 0 #1f8888, 
          0 -0.125em 0 #fb203b, 
          0 -0.25em 0 #f7f59d;
  }

  40% {  
      transform: translateY(0.4em);
      text-shadow: 
          0 -0.0625em 0 #870cfb, 
          0 -0.125em 0 #1f8888, 
          0 0.0625em 0 #fb203b, 
          0 0.125em 0 #f7f59d;
  }
  
 60% {
      transform: translateY(-0.25em);
      text-shadow: 
          0 0.03125em 0 #870cfb, 
          0 0.0625em 0 #1f8888, 
          0 -0.03125em 0 #fb203b, 
          0 -0.0625em 0 #f7f59d;
  }

  80% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #870cfb, 
          0 0 0 #1f8888, 
          0 0 0 #fb203b, 
          0 0 0 #f7f59d;
  }

  100% {  
    transform: translateY(0);
    text-shadow: 
        0 0 0 #870cfb, 
        0 0 0 #1f8888, 
        0 0 0 #fb203b, 
        0 0 0 #f7f59d;
  }
}